/* Banner Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
header{
    background-image: url('../new-developer/images/banner/banner3.png');
    height: 808px;
    text-align: right;
    margin-bottom: 100px;

    
}
.banner-title{
    font-weight: 700;
    font-size: 60px;
    color: white;
    padding: 200px 100px 0 1200px;
   
}
.banner-description{
    font-weight: 400;
    font-size: 17px;
    color: white;
    padding: 30px 100px 32px 1000px;
}
.contract-button{
    margin-top: 30px;
}
.contact-button{
    background-color: white;
    font-size: 18px;
    padding: 20px;
    font-weight: 600;
    margin-right: 100px;
    margin-top: 5px;
    border-radius: 12px;
    text-decoration: none;
}
/* section styles */
.favourite{
    margin-top: 250px;
}
.section{
    background-image: url('../new-developer/images/person.png');
    background-repeat: no-repeat;
    height: 730px;
    background-position: right;
    margin-right: 200px;
    margin-bottom: 70px;   

}
.section-title{
    text-align: left;
    font-weight: 700;
    font-size: 40px;
    padding: 250px 1000px 0px 300px;
    
}
.section-description{
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    color: #444343;
    padding: 30px 750px 0px 300px;
    }
.list-item{
    text-align: left;
    padding: 30px 850px 200px 320px;
}
/* my plan styles */
.center{
    text-align: center;
}
.center-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding-top: 150px;

}
.flex{
    display: flex;
    gap: 40px;
    padding-left: 70px;
    margin-top: 120px;
}
.my-plan{
    padding: 10px 140px;
}
.my-plan-title{
    font-weight: 700;
    font-size: 23px;
    color: #151414;
    padding-left: 28px;
    text-align: center;
}
.my-plan-description{
    font-weight: 500;
    font-size: 18px;
    color: #737272;
    text-align: center;
}
/* Alaways keep */
.contant{
    background-image: url('../new-developer/images/gradient1.png'), url('../new-developer/images/watch.png');
    background-repeat: no-repeat;
    width: 1240px;
    height: 300px;
    text-align: left;
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 130px;
    padding-bottom: 50px;
}
.contant-style{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding: 60px 700px 0px 65px;
}
.button-color{
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    margin: 25px 620px 0px 65px;
    padding: 18px 30px;
    border-radius: 12px;
}
/* footer styles */
footer{
    background-color: #151414;
    width: 100%;
    height: 800px;
    display: flex;
}
.display{
    background: #151414;
    width: 40%;
    height: 200px;
    padding-top: 100px;
    margin-top: 150px;

}
.header-size{
    color: white;
font-size: 70px;
text-align: left;
padding-left: 100px;
}
.para-title{
    color: white;
    font-size: 20px;
    text-align: left;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 24px;
    padding-right: 250px;
}
.para-email{
    color: white;
    font-size: 20px;
    text-align: left;
    padding-left: 100px;
}
.para-number{
    color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    padding-left: 100px;
    padding-bottom: 100px;
}
.sub-styles{
    font-weight: 600;
    font-size: 60px;
    color: #FFFFFF;
    padding-right: 90px;
    margin-top: 0px;
    padding-bottom: 5px;
}
.btn-color{
    font-weight: 600;
    font-size: 20px;
    background: #005FAC;
    border-radius: 8px;
    color: #FFFFFF;
    margin-top: 40px;
}
.display, a{
    text-align: left;
    padding-left: 5px;
    gap: 5px;
    padding-right: px;
    margin-left: 65px;
}
.email .sub-email{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 30px;

}
.email-style{
    width: 50%;
    justify-content: end;
    justify-items: end;

}
.sub-styles{
    padding-top: 235px;
    padding-left: 400px;
}
.social-icon{
    width: 50px;
    height: 50px;
}
.subscrive{
    width: 50px;
    height: 50px;
    padding: 60px 0px 0px 40px ;
}
.subscribe-button{
    padding: 15px;
    font-size: 20px;
    margin-top: 20PX;
    margin-right: 100px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 5px;
    border: 2PX solid white ;
}